*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Headear */

header{
    width: 100%;
    height: 600px;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(352, 100%, 94%, 0.901), hsla(352, 71%, 77%, 0.56)), url(/assert/img/hero.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(352, 100%, 94%, 0.397), hsla(351, 16%, 59%, 0.635)), url(/assert/img/hero.webp); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment:fixed;
    position: relative;

}


.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .enlaces-header a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;

}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.enlaces-header>a:hover {
    text-decoration: underline;
}

header .textos-header{
 display: flex;
 height: 430px;
 width: 100%;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}

.textos-header h1{
    font-size:50px;
    color: rgb(117, 33, 33);

}
.textos-header h2{
    font-size:30px;
    font-weight: 300;
    color: rgb(117, 33, 33);

}



.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*About Us */

.contenedor-sobre-nosostros{
    display: flex;
    justify-content: space-evenly;

}

.image-about-us{
    width: 48%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;

}

.contenido-textos h3 span {
    background-color: #642a73;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0,0, 0,.5);
    margin-right: 5px ;

}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

}